root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space

[*.cs]
indent_size = 4
dotnet_analyzer_diagnostic.severity = suggestion
dotnet_diagnostic.CA1416.severity = none

[*.{xml,xaml,csproj,manifest}]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2
